.page_wrapper {
    border-radius: 30px;
    background: #050522;
    box-shadow: 0px 0px 50px 5px rgba(6, 6, 34, 0.40);
    width: 375px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #EF5858;
    text-shadow: -1px 1px 10px rgba(239, 88, 88, 0.15);
    font-size: 50px;
    font-weight: 400;
    font-family: "Segoe UI";
}